@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
*{margin: 0;padding: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}


html,body{height: 100%; width: 100%; overflow: hidden;}

.allwrap{
  height: 100%;
}
ul{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
li{
  width: 350px;
  margin-right: 45px;
  line-height: 200px;
  text-align: center;
  margin-bottom: 4%;
  height: 200px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  font-size: 40px;
  position: relative;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  overflow: hidden;
}
li span{
  font-size: 30px;
  position: absolute;
  top: 0; left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  left: -100%;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0.85;
}
li:hover{
  background-color: #000;
}
li.click span{
  left: 0;

}
li:hover span{
  left: -90%;
}
li.click:hover span{
  left: 0;
}

li:nth-child(1){background: rgb(208, 63, 71); color: #fff;}
li:nth-child(2){background: #ff24ae; color: #fff;}
li:nth-child(3){background: #ffecec;}
li:nth-child(4){background: #6162cb; color: #fff;}
li:nth-child(5){background: #f9f1d5;}
li:nth-child(6){background: #c4faff;}
li:nth-child(7){background: #5ef99c;}
li:nth-child(8){background: #ff24ae;  color: #fff;}
li:nth-child(9){background: #5ef99c;}
