*{
  margin: 0;
  padding: 0;
}
html,body{
  /* font-family:  'Lato','Noto Sans KR', sans-serif; */
  font-family:'Montserrat', 'Noto Sans KR', sans-serif;
  height: 100%;
  color: #222;
}
body{overflow: hidden;}
li{list-style: none;}
a{color: #222; text-decoration: none;}
h1{/* font-weight: lighter; */}
.allwrap{height: 100%;}
.menu-area{
  width: 40%; height: 100%;
  box-sizing: border-box;
  display: inline-block;
  position: fixed;
  padding : 30px 20px;
  border-right: 1px solid #222;
}

.menu-header{
  padding-bottom: 20px;
  height: 40px;
  font-size: 14px;
}
.menu-header > h2,.menu-header > ul{
  display: inline-block;
}
.menu-header h2{
  display: inline-block;
  height: 100%;
  line-height: 40px;
}
.menu-header ul{
  float: right;
  height: 100%;
}
.menu-header ul li{
  float: left;
  height: 100%;
  display: inline-block;
  line-height: 40px;
  margin-right: 10px;
}
.menu-header ul li::after{
  content : '';
  display: inline-block;
  margin-left: 10px;
  width: 1px; height: 10px;
  background-color: #222;
}
.menu-header ul li:last-child::after{display: none;}
.menu-header ul li:last-child{margin-right: 0;}


.menu-dropbox{
  border: 1px solid #222;
  overflow: hidden;
}

.dropbox-active-display{
}

.dropbox-list-display{

}

.dropbox-active-display , .dropbox-list-display ul li{
  padding: 14px;
}










.content-area{
  margin-left: 40%;
  width: 60%; height: 100%;
  box-sizing: border-box;
  background-color: #ddd;
}
