@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
*{margin: 0; padding: 0;}
li{list-style: none;}
button,button:focus{
  outline: none;
  border: none;
}
html,body{
  height: 100%; overflow: hidden;font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -2px;
}
h1{
  text-align: center;
  font-weight: lighter;
}
.result-display{
  margin: 0 5%;
  margin-top: 20px;
}
.result-value{
  width: 90%;
  border: 1px solid #ddd;
  color: rgba(126, 126, 126, 0.52);
  margin: 18% auto 25%;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  /* font-family: 'Nanum Myeongjo', serif; */
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 6px;
}
.result-value::after{
  content: '' ;
  position: absolute;
  left: 120%;top: 0;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(24,144,255,1) 10%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(24,144,255,1) 10%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(24,144,255,1) 10%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1890ff',GradientType=1 );

  width: calc(140% + 2px);
  height: calc(100% + 2px);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: skewX(-30deg);
}
.result-value.conclusion{
  border-color: rgba(24, 144, 255, 0.31);
  color: #000;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.result-value.calculating{
  border-color: #1890ff;
}
.result-value.calculating::after{
  left: -20%;
}
.decision-btn{
  margin-top: 70px;
  text-align: center;
}
.decision-btn .btn{
  outline: none;
  border: 5px solid #999;
  background-color: #999;
  color: #fff;
  font-weight: lighter;
  padding: 5px 30px;
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  bottom: 15px;
  border-radius: 7px;
  transition: all 280ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.decision-btn .btn::after{
  content : '';
  position: absolute;
  z-index: -1;
  bottom:-20px; right: -5px;
  display: inline-block;
  width: 100%; height: 100%;
  border: 5px solid #666;
  background-color: #666;
  border-radius: 5px;
  transition:all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

}
.decision-btn .btn.touch{
  background-color: #1890ff;
  border-color: #1890ff;
  bottom: 5px;
  font-weight: bold;
}
.decision-btn .btn.touch::after{
  bottom: -10px;
  border: 5px solid #1e405e;
  background-color: #1e405e;
}

.list-btn{
  width: 36px; height: 36px;
  display: block;
  position: relative;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 2;
  overflow: hidden;
  background: url(icon.png) no-repeat ;
  -webkit-background-size: cover;
  background-size: cover;
  transition:all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0.8;
}
.list-btn.open{
  background-position: -36px 0;
}

.list-display{
  position: fixed; top: 0;left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: scroll;
  -webkit-touch-scrolling : touch;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.list-display p{
  font-size: 50px;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 10%;
}
.list-display .restaurant-list li{
  text-align: left;
  width: 50%;
  margin-top: 6%;
  font-size: 20px;
  float: left;
  text-indent: 8%;
  font-weight: lighter;
}
.list-display.open{
  height: 100%;
  padding: 20% 0;
  background-color: rgba(0, 0, 0, 0.8);
}








.restaurant-add-display,.restaurant-add-btn{
  display: none;
}
