@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700|Noto+Sans+KR:300,400,700&display=swap');
#memo{
  position: fixed;
  top: 0; left: 0;
  color: #3d3;
  font-weight: bold;
  background: #000;
  padding: 10px;  
  z-index: 999;
}
#memo.hide{
  display: none;
}
#memobtn{
  z-index: 9999;
  position: fixed;
  top: 0;left:0; 
  color: #ddd; 
}
#memobtn.hide{
  display: none;
}

*{margin: 0;padding: 0;}
html,body{
  width: 100%; height: 100%;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
}
/* ::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}
::-webkit-scrollbar-track{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #000;
} */

a{text-decoration: none;}
li{list-style: none;}

.scroll-text, .text-box{
  font-family: 'Nanum Myeongjo', serif;
  line-height: 1.44em;
  font-size: 25px;
  text-align: center;
}
.scroll-text{
  overflow-y: scroll;
}

.left-area, .right-area{
  /* width: 500px; height: 500px;
  border: 6px solid #000;
  box-sizing: border-box; */
  
}


.invert{
  filter : invert(100)
}
.image{
  width: 100%; height: 100%;
}
.image img{
  width: 100%; height: 100%;
}

div[class^="button_"]{
  border: 1px solid #000;
  cursor: pointer;
}
div.button_type1{
  border: 6px solid #000;
  color: #000;
  transition: color 0.3s ease , background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 25px;
  padding:25px 0 ;

}
div.button_type1{
  
}
div.button_type1 img{
  transition: filter 0.3s ease;
}
div.button_type1:hover{
  background-color: #000;
  color: #fff;
}
div.button_type1:hover img{
  filter: invert(100)
}




#app{
  width: 1400px ; height: 800px;
  box-sizing : border-box;
  position: relative;
  top : calc(50% - 400px);
  margin: 0 auto;
  border: 6px solid transparent;
  transition: border 0.5s ease;
}
#app.a{
  border: 6px solid #000;
}





#nav-process{  
  width: 100%; height: 30px;
  display: flex;
  justify-content: center;
  top: 37px;
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 10;
  transform: translate3d(0, -100%,0);
}

#nav-process.a{   
  transform: translate3d(0,0,0);
  opacity: 1;
}

#nav-process .container{
  margin: 0 80px;
  width: 100%; height: 100%;
  border: 6px solid #000;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

#nav-process .container .bar{
  position: absolute; top:0; left:0;
  display: inline-block;
  width: 0%; height: 105%;
  background-color: #000;
  transition: width 0.5s ease;
}









#nav-timer{
  right: 80px; top: 106px;
  font-size: 30px;

  border: 1px solid #d3d;
  text-align: right;
  font-weight: bold;
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 10;
}

  
#nav-timer.a{
  opacity: 1;
}









h1#title{
  position: absolute;
  width: 100%;
  height: 80px;
  text-align: center;
  top: 106px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate3d(0,0,0);
  opacity: 0

}
h1#title.a{
  transform: translate3d(0,0,0);
  opacity: 1;
}

h1#title div{
  width: 234px; height: 100%;
  border: 1px solid #d3d;
  margin: 0 auto;
}






div[id^="page"]{
  display: flex;
  height: 500px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  pointer-events: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0 80px;
  bottom: 80px;
  border: 1px solid #3d3;
}

div[id^="page"].a{
  pointer-events: all;
  opacity: 1;
}


#page-splash-1{
  width: 100%; height: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #d3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
#page-splash-1 .image{
  width: 900px;
  height: 300px;
  border: 1px solid #d3d;
}
#page-splash-1 .image img{
  width: 100%; height: 100%;
  object-fit: contain;
}
#page-splash-1 p{
  margin-top: 46px;
  border: 1px solid #d3d;
  font-size: 30px;
  height: 100px;
  width:900px;
  text-align: center;
  line-height: 100px;
}





#page-start-button{
  width: 100%;height: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d;
}
#page-start-button .inner-wrap{
  width: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-start-button .image{
  width: 400px;
  height: 150px;
  border: 1px solid #d3d;
}
#page-start-button .image img{
  width: 100%; height: 100%;
  object-fit: contain;
}
#page-start-button .button_type1{
  margin-top: 50px;
  width: 100%;
  text-align: center;
}







#page-birth{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-birth .scroll-text{
  text-align: center;
  border: 1px solid #d3d;
  height: 230px;
}

#start-selects{
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease, opacity 0.4s ease;
  transform: translate3d(0,0,0);
}
#start-selects.hide{
  transform: translate3d(0,100%,0);
  opacity: 0;
}
#start-selects .button_type1{
  width: 220px; height: 220px;
  color: transparent; font-size: 0;
  cursor: pointer;
  box-sizing: border-box;
  padding:0;
  background: url(img/test.png) no-repeat;
  background-size: contain;
  transition: filter 0.3s ease , border 0.3s ease;
}
#start-selects .button_type1:hover{
  border-color: #fff;
  filter: invert(100);
}







#page-choice{
  display: flex;
  justify-content: space-between;
}
#page-choice .left-area{ 
  width: 500px; height: 500px;
  border: 1px solid #d3d;
  box-sizing: border-box;
}

#page-choice .left-area .image{ 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#page-choice .left-area .image img{ 
  object-fit: contain;
}
#page-choice .right-area{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page-choice .right-area > div{
  box-sizing: border-box;
}

#page-choice .scroll-text{
  height: 200px;
  border: 1px solid #d3d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#page-choice .right-bottom-area{
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-choice .button_type1{
  height: 125px;
}




#page-choice.choice2 .scroll-text{
  display: block;
  height: 350px;
}

#page-choice.choice2 .right-bottom-area{
  flex-direction: row;
  height: auto;
}

#page-choice.choice2 .button_type1{
  width: 330px;
}





















#page-death{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width :100%;
}


#page-death .scroll-text{
  width: 100%;height: 100%;
  border: 1px solid #d3d;
  text-align: center;
  display: flex;
  align-items: center;
}














#page-trial{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-trial .image{
  border: 1px solid #d3d;
  width: 510px; height: 170px;
  margin: 0 auto;
}
#page-trial .image img{
  object-fit: contain;
}
#page-trial .text-box{
  height: 185px;
}
#page-trial .button_type1{
  width: 380px;  
  margin: 0 auto;
}











#page-trial-progress{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-trial-progress .image{
  width: 900px; height: 300px;
  border: 1px solid #d3d;

}
#page-trial-progress .image img{
  object-fit: contain;
}
#page-trial-progress p{
  object-fit: contain;
  margin-top: 37px;
  font-size: 25px;
}













#page-infomation{
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-infomation .text-box{
  text-align: center;
  
}












#page-rebirth{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-rebirth .image{
  border: 1px solid #d3d;
  width: 510px; height: 170px;
  margin: 0 auto;
}
#page-rebirth .image img{
  object-fit: contain;
}
#page-rebirth .scroll-text{
  height: 185px;
}
#page-rebirth .button_type1{
  width: 380px;  
  margin: 0 auto;
}











#page-result{
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-result .text-box{
  text-align: center;
  width: 60%; 
}






